.cartCard {
    width: 90%;
    height: 125px;
    max-height: 125px;
    background-color: #25161b;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    border-radius: 1rem;

    &Wrapper {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &Image {
        width: 100px;
        height: 100px;
        border-radius: 1rem;
    }

    &Actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;

        .priceWrapper {
            display: flex;
            align-items: center;
            height: 50px;
        }

        .price {
            font-size: 24px;
        }
    }
}
